* {
margin: 0;
padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
}

.nav-links {
    background-color: rgb(5, 0, 48);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    box-shadow: 0 1px 8px #000000;
}

.container {
    background-color: #eeeeee;
}